@{
    ViewData["Title"] = "Extensiones";
}
<h1>@ViewData["Title"]</h1>



<table id="extension" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Area</th>
                <th>Extension</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Area</th>
                <th>Extension</th>
            </tr>
        </tfoot>
    </table>