@{
    ViewData["Title"] = "Home Page";
}


@* <div class="title"><p>Elija el sistema al cual desea acceder</p></div> *@

<main class="container-xxl bd-gutter" id="content">
<div class="my-5">
@*   <div class="d-flex mb-4">
    <h2 class="mb-0 text-decoration-none text-center">Elija el sistema al cual desea acceder</h2>
    <form class="subnav-search d-flex flex-nowrap ms-auto">
      <label for="search" class="visually-hidden">Buscar aplicación</label>
      <input class="form-control search mb-0" id="search" type="search" placeholder="Escriba para filtrar..." autocomplete="off">
    </form>
  </div> *@

<h2 class="text-decoration-none text-center">Elija el sistema al cual desea acceder</h2>

            <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list image-wrapper">
                
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni:8086/Usuarios/Login" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 text-center rounded">
                            <img class="ico" src="./img/administrativo.png" alt="" width="128" height="128">
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">sysAdministrativo</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni:8083/Usuarios/Login" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico" src="./img/ejecutivo.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">sysEjecutivo</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni:8081/Usuarios/Login" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico"  src="./img/human_resource.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">sysRRHH</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni:8084/Account/Login" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico" src="./img/servicios.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">sysServicios</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni:8085" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico" src="./img/Prescription.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">Receta en Línea</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni:9083" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico" src="./img/medical-test.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">Formato de Subsidios</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://cie11/" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico" src="./img/cie11_blue.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">CIE 11</div>
                    </a>
                </li>
                <li class="col mb-4">
                    <a class="d-block text-body-emphasis text-decoration-none" href="http://sysnhme.montespana.com.ni/aemps-medicamentos/index.html" target="_blank" rel="noopener">
                        <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
                            <img class="ico" src="./img/vademecum.png" alt="" width="128" height="128"/>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">Vademecum</div>
                    </a>
                </li>
                
            </ul>
        </div>

    </main>