@{
    ViewData["Title"] = "Home Page";
}


<div class="title"><p>Elija el sistema al cual desea acceder</p></div>

<ul class="image-wrapper">
        <li class="li-1">
          <a href="http://sysnhme.montespana.com.ni:8086/Usuarios/Login" target="_blank" rel="noopener">
            <img class="ico" src="./img/administrativo.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">sysAdministrativo</div> 
        </li>
        <li class="li-2">
          <a href="http://sysnhme.montespana.com.ni:8083/Usuarios/Login" target="_blank" rel="noopener">
            <img class="ico" src="./img/ejecutivo.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">sysEjecutivo</div>
        </li>
        <li class="li-3">
          <a href="http://sysnhme.montespana.com.ni:8081/Usuarios/Login" target="_blank" rel="noopener">
            <img class="ico"  src="./img/human_resource.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">sysRRHH</div>
        <li class="li-4">
          <a href="http://sysnhme.montespana.com.ni:8084/Account/Login" target="_blank" rel="noopener">
            <img class="ico" src="./img/servicios.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">sysServicios</div>
        </li>
        <li class="li-5">
          <a href="http://192.168.10.111:9083" target="_blank" rel="noopener">
            <img class="ico" src="./img/medical-test.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">Formato de Subsidios</div>
        </li>
        <li class="li-6">
          <a href="http://cie11/" target="_blank" rel="noopener">
            <img class="ico" src="./img/cie11_blue.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">CIE 11</div>
        </li>
         <li class="li-7">
          <a href="http://sysnhme.montespana.com.ni//aemps-medicamentos-Dev/index.html" target="_blank" rel="noopener">
            <img class="ico" src="./img/medical-diagnosis.png" alt="" width="128" height="128"/>
          </a>
          <div class="image-description">Vademecum</div>
        </li>


      </ul>